{% load i18n %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <!-- metas -->
  <meta charset="utf-8">
  <meta name="author" content="Igor Boradyn">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="cv resume auto generator">
  <meta name="description" content="{% trans 'Application designed to create a resume for a programmer in Polish and English' %}">

  <!-- title -->
  <title>{% block title %}CV Generator{% endblock %}</title>

  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <!-- FontAwesomeFree -->
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

  <!-- Sidebar -->
  <link href="{% static 'css/sidebar.min.css' %}" rel="stylesheet" type="text/css">

  <link href="{% static 'css/base.min.css' %}" rel="stylesheet" type="text/css">

  {% block extra_css %}{% endblock %}
</head>
<body class="panel-body">
  {% block header %}
    {% include '_partials/header.html' %}

    <!-- Sidebar links activators start -->
    <div id="active_nav_link_number" class="d-none">{% block active_nav_link %}{% endblock %}</div>
    <div id="active_sub_nav_link_selector" class="d-none">{% block active_sub_nav_link %}{% endblock %}</div>
    <!-- Sidebar links activators end -->
  {% endblock %}

  {% include '_partials/lang_change.html' %}

  <div class="panel-container">
    <div class="panel-content-wrap">
      {% block content %} {% endblock %}
    </div>
    {% block footer %}
      {% include '_partials/footer.html' %}
    {% endblock %}
    </div>

  <!-- Bootstrap -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- jQuery -->
  <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
  <!-- Requests -->
  <script src="{% static 'js/ajax_settings.js' %}"></script>
  <!-- Sidebar -->
  <script src="{% static 'js/sidebar.js' %}"></script>
  <script src="{% static 'js/subNavList.js' %}"></script>

  {% block extra_js %}{% endblock %}
</body>
</html>